.background,
.background1 {
    background: linear-gradient(rgba(78, 93, 120, 0), rgba(78, 93, 120, 0)), #fff;
}

.background {
    align-self: stretch;
    height: 930px;
    position: relative;
    display: none;
}

.background1 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.logo-icon {
    width: 26px;
    height: 26px;
    position: relative;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
}

.meetmax {
    text-decoration: none;
    position: relative;
    line-height: 28px;
    font-weight: 700;
    background: linear-gradient(#4e5d78, #4e5d78), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 76px;
    white-space: nowrap;
}

.logo {
    flex-direction: row;
    gap: var(--gap-3xs);
}

.header-content,
.iconlogologo,
.logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.iconlogologo {
    flex-direction: row;
    padding: 0 var(--padding-7xs) 0 0;
    z-index: 1;
}

.header-content {
    flex-direction: column;
    padding: var(--padding-8xs) 0 0;
}

.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(50px);
    border-radius: var(--br-9xs);
    background: linear-gradient(rgba(78, 93, 120, 0), rgba(78, 93, 120, 0)), #fff;
}

.english-uk {
    text-decoration: none;
    position: relative;
    line-height: 22px;
    font-weight: 500;
    background: linear-gradient(rgba(78, 93, 120, 0.6), rgba(78, 93, 120, 0.6)), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 78px;
    white-space: nowrap;
    z-index: 1;
}

.iconfillangle-down {
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 1;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
}

.cardwhiteheader,
.select-language {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-xl);
}

.select-language {
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-xl);
    position: relative;
    z-index: 1;
    font-size: var(--body-m-size);
}

.cardwhiteheader {
    align-self: stretch;
    justify-content: space-between;
    padding: var(--padding-xl) var(--padding-11xl);
    position: sticky;
    flex-shrink: 0;
    top: 0;
    z-index: 99;
    text-align: left;
    font-size: var(--heading-3-bold-size);
    font-family: var(--display-m);
}

.background-design-icon {
    height: 1179px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
}

.background2 {
    width: 100%;
    height: 248px;
    position: absolute;
    margin: 0 !important;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 3px -5px 35px rgba(205, 205, 212, 0.1);
    border-radius: var(--br-xl);
    background: linear-gradient(rgba(78, 93, 120, 0), rgba(78, 93, 120, 0)), #fff;
}

.forgot-password1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 46px;
    font-weight: 900;
    font-family: inherit;
    background: linear-gradient(#4e5d78, #4e5d78), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.forgot-password-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 16px 0 var(--padding-mini);
}

.enter-your-details {
    position: relative;
    font-size: var(--display-m-size);
    line-height: 24px;
    font-weight: 500;
    background: linear-gradient(#4e5d78, #4e5d78), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content,
.title {
    display: flex;
    align-items: flex-start;
}

.title {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}

.content {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}

.input-data {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-3xs);
    border: 1px solid var(--grayscale-w-20);
    box-sizing: border-box;
}

.iconfillmail- {
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 1;
}

.send-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
}

.your-email,
.your-email1 {
    position: relative;
    z-index: 1;
}

.your-email1 {
    width: 100%;
    flex-grow:1;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: var(--display-m);
    font-size: var(--body-m-size);
    background-color: var(--grayscale-w-60);
    height: 22px;
    line-height: 22px;
    background: linear-gradient(rgba(78, 93, 120, 0.6), rgba(78, 93, 120, 0.6)), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    display: inline-block;
    padding: 0;
}

.your-email {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-xl);
    gap: var(--gap-3xs);
}

.bg1 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--blue-primary-blue);
}

.send,
.sign-up {
    position: relative;
    z-index: 1;
}

.send {
    font-size: var(--display-m-size);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--display-m);
    background: linear-gradient(rgba(78, 93, 120, 0), rgba(78, 93, 120, 0)), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display: inline-block;
    min-width: 37px;
}

.sign-up {
    cursor: pointer;
    border: 0;
    padding: var(--padding-sm) var(--padding-xl) var(--padding-sm) var(--padding-2xl);
    background-color: var(--grayscale-w-60);
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.path-94-icon {
    width: 6px;
    height: 10px;
    position: relative;
    object-fit: contain;
}

.back-icon-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 7px 0 0;
}

.back-to-sign {
    position: relative;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    min-width: 107px;
    text-decoration: none;
}

.back,
.navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.back {
    justify-content: flex-start;
    gap: 14px;
    z-index: 1;
}

.navigation {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-4xl) 0 var(--padding-xl);
}

.cardwhitemain,
.your-email-parent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.your-email-parent {
    align-self: stretch;
    align-items: flex-start;
    gap: var(--gap-xl);
    font-size: var(--display-m-size);
}

.cardwhitemain {
    width: 580px;
    margin: 0 !important;
    position: absolute;
    top: 30px;
    right: 430px;
    align-items: flex-end;
    padding: 0 var(--padding-21xl) var(--padding-21xl);
    box-sizing: border-box;
    gap: 70px;
    max-width: 100%;
    z-index: 2;
}

.forgot-password,
.page-background {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.page-background {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    max-width: 102%;
    flex-shrink: 0;
    text-align: center;
    font-size: var(--heading-1-black-size);
    color: var(--blue-primary-blue);
    font-family: var(--display-m);
}

.forgot-password {
    width: 100%;
    height: 930px;
    background: linear-gradient(rgba(78, 93, 120, 0), rgba(78, 93, 120, 0)), #fff;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 0 852px;
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
}

@media screen and (max-width: 767px) {
    .forgot-password1 {
        font-size: 24px;
        line-height: 37px;
    }
}

@media screen and (max-width: 450px) {
    .forgot-password1 {
        font-size: var(--heading-3-bold-size);
        line-height: 28px;
    }
