.background {
    align-self: stretch;
    height: 930px;
    position: relative;
    background: linear-gradient(rgba(78, 93, 120, 0), rgba(78, 93, 120, 0)), #fff;
    display: none;
    z-index: 0;
}

/*.background-design-icon {
    width: 1455px;
    height: 1179px;
    position: absolute;
    margin: 0 !important;
    bottom: -249px;
    left: -15px;
    z-index: 1;
}
*/
/*.background1 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(78, 93, 120, 0), rgba(78, 93, 120, 0)), #fff;
}*/

/*.logo-icon {
    width: 26px;
    height: 26px;
    position: relative;
}*/

/*.logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
}*/

/*.meetmax {
    text-decoration: none;
    position: relative;
    line-height: 28px;
    font-weight: 700;
    background: linear-gradient(#4e5d78, #4e5d78), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 76px;
    white-space: nowrap;
}
*/
/*.logo {
    flex-direction: row;
    gap: var(--gap-3xs);
}*/
/*
.iconlogologo,
.iconlogologo-wrapper,
.logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
*/
/*.iconlogologo {
    flex-direction: row;
    padding: 0 var(--padding-7xs) 0 0;
    z-index: 1;
}

.iconlogologo-wrapper {
    flex-direction: column;
    padding: var(--padding-8xs) 0 0;
}
*/
/*.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(50px);
    border-radius: var(--br-9xs);
    background: linear-gradient(rgba(78, 93, 120, 0), rgba(78, 93, 120, 0)), #fff;
}

.english-uk {
    text-decoration: none;
    position: relative;
    line-height: 22px;
    font-weight: 500;
    background: linear-gradient(rgba(78, 93, 120, 0.6), rgba(78, 93, 120, 0.6)), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 78px;
    white-space: nowrap;
    z-index: 1;
}*/

/*.iconfillangle-down {
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 1;
}*/
/*
.language-selector-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
}

.cardwhiteheader,
.select-language {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-xl);
}

.select-language {
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-xl);
    position: relative;
    z-index: 1;
    font-size: var(--body-m-size);
}

.cardwhiteheader {
    align-self: stretch;
    justify-content: space-between;
    padding: var(--padding-xl) var(--padding-11xl);
    position: sticky;
    top: 0;
    z-index: 99;
    text-align: left;
    font-size: var(--heading-3-bold-size);
    font-family: var(--display-m);
}
*/
.getting-started {
    margin: 0;
    width: 209px;
    position: relative;
    font-size: inherit;
    line-height: 46px;
    font-weight: 900;
    font-family: inherit;
    background: linear-gradient(#4e5d78, #4e5d78), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.getting-started-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-3xl);
}

.create-an-account {
    position: relative;
    font-size: var(--display-m-size);
    line-height: 24px;
    font-weight: 500;
    background: linear-gradient(#4e5d78, #4e5d78), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title,
.title-wrapper {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

.title {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-3xs);
}

.title-wrapper {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 78px 0 77px;
    box-sizing: border-box;
}

.background2,
.bg1 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.background2 {
    box-shadow: 3px -5px 35px rgba(205, 205, 212, 0.1);
    border-radius: 20px;
    background: linear-gradient(rgba(78, 93, 120, 0), rgba(78, 93, 120, 0)), #fff;
}

.bg1 {
    border-radius: var(--br-3xs);
    background: linear-gradient(rgba(78, 93, 120, 0.05), rgba(78, 93, 120, 0.05)), #fff;
}

.iconfillgoogle {
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 1;
}

.google-login-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
}

.log-in-with {
    position: relative;
    font-size: var(--display-m-size);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--display-m);
    background: linear-gradient(#4e5d78, #4e5d78), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    z-index: 1;
}

.google-button {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-11xl);
    box-sizing: border-box;
    position: relative;
    gap: 25px;
    min-width: 156px;
    z-index: 1;
}

.bg2 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background: linear-gradient(rgba(78, 93, 120, 0.05), rgba(78, 93, 120, 0.05)), #fff;
}

.iconfillapple {
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 1;
}

.apple-login-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
}

.log-in-with1 {
    width: 124px;
    position: relative;
    font-size: var(--display-m-size);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--display-m);
    background: linear-gradient(#4e5d78, #4e5d78), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display: inline-block;
    min-width: 124px;
    z-index: 1;
}

.apple-button,
.social-logins {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.apple-button {
    flex: 0.9444;
    justify-content: flex-start;
    padding: var(--padding-sm) 35px;
    box-sizing: border-box;
    position: relative;
    gap: 24px;
    min-width: 156px;
    z-index: 1;
}

.social-logins {
    align-self: stretch;
    gap: var(--gap-xl);
}

.divider {
    align-self: stretch;
    height: 1px;
    position: relative;
    background: linear-gradient(rgba(78, 93, 120, 0.2), rgba(78, 93, 120, 0.2)), #fff;
}

.divider-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
    min-width: 141px;
}

.divider1,
.or1 {
    position: relative;
}

.or1 {
    line-height: 28px;
    display: inline-block;
    background: linear-gradient(#4e5d78, #4e5d78), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    min-width: 24px;
}

.divider1 {
    align-self: stretch;
    height: 1px;
    background: linear-gradient(rgba(78, 93, 120, 0.2), rgba(78, 93, 120, 0.2)), #fff;
}

.divider-container,
.or {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.divider-container {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
    min-width: 141px;
}

.or {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-2xl);
    z-index: 1;
    font-size: var(--heading-3-bold-size);
}

.shape {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-3xs);
    border: 1px solid var(--grayscale-w-20);
    box-sizing: border-box;
}

.iconfillmail- {
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 1;
}

.account-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
}

.your-email,
.your-email1 {
    position: relative;
    z-index: 1;
}

.your-email1 {
    width: 100%;
    flex-grow: 1;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: var(--display-m);
    font-size: var(--body-m-size);
    background-color: transparent;
    height: 22px;
    line-height: 22px;
    background: linear-gradient(rgba(78, 93, 120, 0.6), rgba(78, 93, 120, 0.6)), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    display: inline-block;
    padding: 0;
}

.your-email {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-xl);
    gap: var(--gap-3xs);
}

.shape1 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-3xs);
    border: 1px solid var(--grayscale-w-20);
    box-sizing: border-box;
}

.iconfillsmile {
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 1;
}

.iconfillsmile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
}

.your-name,
.your-name1 {
    position: relative;
    z-index: 1;
}

.your-name1 {
    width: 100%;
    flex-grow: 1;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: var(--display-m);
    font-size: var(--body-m-size);
    background-color: transparent;
    height: 22px;
    line-height: 22px;
    background: linear-gradient(rgba(78, 93, 120, 0.6), rgba(78, 93, 120, 0.6)), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    display: inline-block;
    padding: 0;
}

.your-name {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-xl);
    gap: var(--gap-3xs);
}

.shape2 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-3xs);
    border: 1px solid var(--grayscale-w-20);
    box-sizing: border-box;
}

.iconfilllock {
    width: 16px;
    height: 16px;
    position: relative;
    object-fit: cover;
    z-index: 1;
}

.iconfilllock-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
}

.create-password1 {
    width: 100%;
    flex-grow: 1;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: var(--display-m);
    font-size: var(--body-m-size);
    background-color: transparent;
    height: 22px;
    flex: 1;
    position: relative;
    line-height: 22px;
    background: linear-gradient(rgba(78, 93, 120, 0.6), rgba(78, 93, 120, 0.6)), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    display: inline-block;
    min-width: 64px;
    padding: 0;
    z-index: 1;
}

.frame-parent {
    width: 133px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}

.iconfilleye {
    z-index: 1;
    position: absolute;
    font-size: 20px;
    top: 25px;
    right: 20px;
    color:black;
}

.iconfilleye-off {
    z-index: 1;
}



.create-password,
.iconfilleye-off-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
}

.create-password {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-mini) var(--padding-xl);
    position: relative;
    gap: var(--gap-xl);
    z-index: 1;
}

.shape3 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-3xs);
    border: 1px solid var(--grayscale-w-20);
    box-sizing: border-box;
}

.iconfillcalendar {
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 1;
}

.date-of-birth-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
}

.date-of-birth1 {
    position: relative;
    line-height: 22px;
    font-weight: 500;
    background: linear-gradient(rgba(78, 93, 120, 0.6), rgba(78, 93, 120, 0.6)), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 78px;
    z-index: 1;
}

.date-of-birth2 {
    position: relative;
    line-height: 22px;
    font-weight: 500;
    background: linear-gradient(rgba(78, 93, 120, 0.6), rgba(78, 93, 120, 0.6)), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 100px;
    overflow:hidden;
    border: none;
    z-index: 1;
}


.date-of-birth {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-xl);
    box-sizing: border-box;
    position: relative;
    gap: var(--gap-3xs);
    min-width: 156px;
    z-index: 1;
}

.shape4 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-3xs);
    border: 1px solid var(--grayscale-w-20);
    box-sizing: border-box;
}


.iconfillfemale,
.iconfillmale {
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 1;
}

.iconfillmale-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
}

.iconfillselect {
    width: 16px;
    height: 16px;
    position: relative;
    object-fit: cover;
}

.male-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
}

.male1 {
    position: relative;
    line-height: 24px;
    font-weight: 500;
    background: linear-gradient(#4e5d78, #4e5d78), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 36px;
}

.male {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-sm);
    z-index: 1;
}

.iconfilldeselect {
    width: 16px;
    height: 16px;
    position: relative;
    object-fit: cover;
}

.female-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
}

.female1 {
    position: relative;
    line-height: 24px;
    font-weight: 500;
    background: linear-gradient(#4e5d78, #4e5d78), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: 36px;
}

.iconfillselect1 {
    height: 16px;
    width: 16px;
    position: relative;
    object-fit: cover;
    display: none;
}

.female {
    flex-direction: row;
    gap: var(--gap-sm);
    z-index: 1;
}

.female,
.gender,
.input-fields,
.signup-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.gender {
    flex: 1;
    flex-direction: row;
    padding: var(--padding-sm) 18px;
    box-sizing: border-box;
    position: relative;
    gap: 19px;
    min-width: 156px;
    z-index: 1;
    font-size: var(--display-m-size);
}

.input-fields,
.signup-form {
    align-self: stretch;
    gap: var(--gap-xl);
}

.input-fields {
    flex-direction: row;
    flex-wrap: wrap;
}

.signup-form {
    flex-direction: column;
    text-align: left;
    font-size: var(--body-m-size);
}

.bg3 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--blue-primary-blue);
}

.sign-up1,
.sign-up2 {
    position: relative;
    z-index: 1;
}

.sign-up2 {
    font-size: var(--display-m-size);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--display-m);
    background: linear-gradient(rgba(78, 93, 120, 0), rgba(78, 93, 120, 0)), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display: inline-block;
    min-width: 56px;
}

.sign-up1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-sm) var(--padding-xl);
    background-color: transparent;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
}

.already-have-an,
.sign-in {
    position: relative;
    line-height: 24px;
    font-weight: 500;
    z-index: 1;
    text-decoration: none;
}

.already-have-an {
    background: linear-gradient(#4e5d78, #4e5d78), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sign-in {
    display: inline-block;
    min-width: 50px;
}

.account-link,
.login-link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.login-link {
    justify-content: flex-start;
    gap: 18px;
}

.account-link {
    align-self: stretch;
    justify-content: center;
    padding: 0 0 0 2px;
    text-align: left;
}

.cardwhitemain,
.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-11xl);
}

.form {
    align-self: stretch;
    align-items: flex-end;
    padding: var(--padding-21xl);
    position: relative;
    font-size: var(--display-m-size);
}

.cardwhitemain {
    width: 580px;
    align-items: flex-start;
    max-width: 100%;
    z-index: 2;
}

.card-content,
.sign-up {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
}

.card-content {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    max-width: 100%;
}

.sign-up {
    width: 100%;
    position: relative;
    background: linear-gradient(rgba(78, 93, 120, 0), rgba(78, 93, 120, 0)), #fff;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 88px;
    gap: var(--gap-11xl);
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: var(--heading-1-black-size);
    color: var(--blue-primary-blue);
    font-family: var(--display-m);
}

@media screen and (max-width: 750px) {
    .getting-started {
        font-size: var(--font-size-5xl);
        line-height: 37px;
    }
}

@media screen and (max-width: 675px) {
    .title-wrapper {
        padding-left: 38px;
        padding-right: 39px;
        box-sizing: border-box;
    }

    .apple-button,
    .google-button {
        flex: 1;
    }

    .social-logins {
        flex-wrap: wrap;
    }

    .form {
        gap: var(--gap-mini);
        padding-top: var(--padding-7xl);
        padding-bottom: var(--padding-7xl);
        box-sizing: border-box;
    }
}

@media screen and (max-width: 450px) {
    .getting-started {
        font-size: var(--heading-3-bold-size);
        line-height: 28px;
    }
}
