<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/ForgotPassword.css" />
    <script src="~/js/Validation.js"></script>
    <script src="~/js/global.js"></script>
    <script src="~/js/ForgotPassword.js"></script>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap" />
</head>
<body>
    <div class="forgot-password">
        <div class="background"></div>
        <main class="page-background">

            <div class="cardwhitemain">
                <div class="background2"></div>
                <div class="content">
                    <div class="title">
                        <div class="forgot-password-wrapper">
                            <h2 class="forgot-password1">Forgot password?</h2>
                        </div>
                        <div class="enter-your-details">
                            Enter your details to receive a rest link
                        </div>
                    </div>
                </div>
                <form class="your-email-parent validate-form" id="forgotPaswordForm">
                    <div class="your-email">
                        <div class="input-data"></div>
                        <div class="send-button">
                            <img class="iconfillmail-"
                                 alt=""
                                 src="~/Icon/Mail.png" />
                        </div>
                        <input class="your-email1" id="userEmail" placeholder="Your Email" type="text" name="email" />
                    </div>
                    <button class="sign-up">
                        <div class="bg1"></div>
                        <div class="send">Send</div>
                    </button>
                    <div class="navigation">
                        <div class="back">
                            <div class="back-icon-container">
                            </div>
                            <a class="back-to-sign" href="/Account/Index">Back to Sign In</a>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>
</html>