<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/css/Index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap" />
    
    <!-- Script -->
    <script src="~/js/Index.js"></script>
    <script src="~/js/global.js"></script>
</head>
<body>
    <div class="post-background" id="postSection">
        <div class="post-box">
            <div class="post-box-header">
                <img src="~/Icon/profile.png" alt="Profile Picture" class="profile-pic">
                <input type="text" class="post-input" placeholder="What's on your mind?" id="inputPost" />
                <button class="post-btn" id="postBtn" onclick="writePost()">Post</button>
            </div>
        </div>
    </div>
</body>
</html>